 * {
    box-sizing: border-box;
}
    
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#board > div {
     background-color: black;
}